<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
      <td><%= event.content %></td>
        <% if group.owner_id == current_user.id %>
        <td><%= link_to 'Edit', edit_group_event_path(group,event), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', group_event_path(group,event), method: :delete, remote: true, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>